body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row-margin { 
  margin-top: 1vw;
}

.sidebar {
	background-color: black; 
    padding-top: 1vw; 
    height: 100%
}

.navpad{
	padding: 1vw;
}

.rowpad{
	padding: 1vw;
}

.editor-border{
	border-style: outset; 
	border-bottom-color: black;
}

.f-icons{
	font-size: 24px;
}

.type-widget{
	width: 9vw;
}

.img-widget{
	width:104px;
	height:142px;
}


